<%- include ('../includes/head.ejs') %> 
<div>
    <article>
        <h2>
            <%= movie.title %>
        </h2>
        <p> 
            <div><%= //movie.genre.name %></div>
            <div> <%= movie.rating %> </div>
            <div> <%= movie.awards %> </div>
            <div> <%= new Date(movie.release_date) %> </div>
            <div> <%= movie.length %> </div>
            <div><%= //movie.actors.first_name %></div>
        </p>

        <% if (user && user.isAdmin ) { %>
            <a href="/movies/edit/<%= movie.id %>">
                Edit
            </a>
            <% } %>
    </article>
    <% if (user && user.isAdmin ) { %>
        <form action="/movies/delete?m=DELETE" method="post">
            <input type="hidden" name="id" value="<%= movie.id %>">
            <button type="submit">Delete</button>
        </form>
        <% } %>
        <% if (user && user.isAdmin ) { %>
            <a href="/movies/create">
                Create
            </a>
            <% } %>
        </div>