<%- include ('../includes/head.ejs')  %> 
<body>
    <form action="/users/register" method="post">
        <input type="text" name="username" autocomplete="off" placeholder="Username" value="<%= locals.oldData ? oldData.username : null %>">
        <% if (locals.errors && errors.username) { %>
            <p> <%= errors.username.msg %> </p>
        <% } %>
        <input type="password" name="password" autocomplete="off"  placeholder="Password" value="<%= locals.oldData ? oldData.password : null %>">
        <% if (locals.errors && errors.password) { %>
            <p> <%= errors.password.msg %> </p>
        <% } %>
        <button type="submit">Register</button>
    </form>
</body>
</html>